.homepage{
    background-image: url("homebg.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headings{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 200px;
}